.Mode{
  float: right;
}

.float-right{
  float: right;
}

.icon-middle{
  vertical-align: middle;
}

ion-popover{
  ion-item{
    //margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
