.Mode{
  float: right;
  background-color: #D1D1D1;
}

.float-right{
  float: right;
}

.icon-middle{
  vertical-align: middle;
}

ion-popover{
  ion-item{
    //margin-left: 0;
    p{
      padding-right: 20px;
    }
  }
}
